* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

body {
    background-color: #1A1A1A;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
}


.backimg1 {
    background-image: url("assets/Text Container (1).png");
    width: 100%;
    height: 70vh;
    margin-top: 50px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
    padding: 40px;         
    color: white;            
    position: relative;
}

.backimg1::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.3); 
    z-index: 1;
}

.backimg1 h2,
.backimg1 p{
    position: relative;
    z-index: 2; 
    margin: 0;

}

.backimg1 h2{
    font-size: 45px;
    margin-bottom: 15px;
}

.backimg1 p{
    font-size: 19px;
    max-width: 600px;
}


@media(max-width: 576px){
    .backimg1{
        height: auto;      
        padding: 30px 15px;
        align-items: center;
        text-align: center;
    }

    .backimg1 h2{
        font-size: 20px;
    }

    .backimg1 p{
        font-size: 10px;
        max-width: 100%;
        
    }
}

.backimg2 {
    background-image: url("assets/backgroundImg/Text Container (1).png"); /* background image path */
    width: 100%;
    height: 70vh;
    margin-top: 50px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;     
    padding: 40px;
    color: white;
    position: relative;
    text-align: center;      
}
.heading1 {
    margin-top: 20px;
    color: white;
    font-size: 2.5rem; 
    margin-left: 50px;
}
.para1 {
    margin-top: 20px;
    color:gainsboro;
    margin-left: 50px;
    font-size: 1rem;
}

.btn1 {
    color: aliceblue;
    background-color: #3b3b3b;
    padding: 10px 20px;
    border-radius: 10px;
    border: 1px solid #3b3b3b;
    margin-left: 50px;
    margin-top: 30px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn1:hover {
    background-color: #555;
}
.img1 {
    margin-left: 50px;
    margin-top: 8%;
}

.top {
    display: flex;
    align-items: center;
    gap: 15px;
}

.img1 img {
    width: 100px;
}

.title {
    font-weight: bold;
    color: #555;
    font-size: 20px;
}

.desc {
    margin-top: 15px;
    font-size: 14px;
    color: #555;
}
/* img2 */
.img2 {
    margin-left: 50px;
    margin-top: 8%;
}

.top {
    display: flex;
    align-items: center;
    gap: 15px;
}

.img2 img {
    width: 100px;
}

.title2 {
    font-weight: bold;
    color: #555;
    font-size: 20px;
}

.desc2 {
    margin-top: 15px;
    font-size: 14px;
    color: #555;
}

/* img3 */
.img3 {
    margin-left: 50px;
    margin-top: 8%;
}

.top {
    display: flex;
    align-items: center;
    gap: 15px;
}

.img3 img {
    width: 100px;
}

.title3{
    font-weight: bold;
    color: #555;
    font-size: 20px;
}

.desc3 {
    margin-top: 15px;
    font-size: 14px;
    color: #555;
}

/* img4 */
.img4 {
    margin-left: 50px;
    margin-top: 8%;
}

.top {
    display: flex;
    align-items: center;
    gap: 15px;
}

.img4 img {
    width: 100px;
}

.title4{
    font-weight: bold;
    color: #555;
    font-size: 20px;
}

.desc4 {
    margin-top: 15px;
    font-size: 14px;
    color: #555;
}
/* img5 */

.img5 {
    margin-left: 50px;
    margin-top: 8%;
}

.top {
    display: flex;
    align-items: center;
    gap: 15px;
}

.img5 img {
    width: 100px;
}

.title5{
    font-weight: bold;
    color: #555;
    font-size: 20px;
}

.desc5{
    margin-top: 15px;
    font-size: 14px;
    color: #555;
}

/* img6 */
.img6 {
    margin-left: 50px;
    margin-top: 8%;
}

.top {
    display: flex;
    align-items: center;
    gap: 15px;
}

.img6 img {
    width: 100px;
}

.title6{
    font-weight: bold;
    color: #555;
    font-size: 20px;
}

.desc6 {
    margin-top: 15px;
    font-size: 14px;
    color: #555;
}

/* img7*/
.img7 {
    margin-left: 50px;
    margin-top: 8%;
}

.top {
    display: flex;
    align-items: center;
    gap: 15px;
}

.img7 img {
    width: 100px;
}

.title7{
    font-weight: bold;
    color: #555;
    font-size: 20px;
}

.desc7 {
    margin-top: 15px;
    font-size: 14px;
    color: #555;
}

/* img8 */

.img8 {
    margin-left: 50px;
    margin-top: 8%;
}

.top {
    display: flex;
    align-items: center;
    gap: 15px;
}

.img8 img {
    width: 100px;
}

.title8{
    font-weight: bold;
    color: #555;
    font-size: 20px;
}

.desc8 {
    margin-top: 15px;
    font-size: 14px;
    color: #555;
}

.main1,
.main2,
.main3,
.main4{
    display: flex;
}